spring:
  application:
    name: 40_RestSpringRedisCache
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test1
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update 
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
info:
  app:
    name: RestSpringRedisCache
    description: Redis Cache Demo Application
    version: 1.0.0
    author: Ahmed
server:
  port: 9095 